* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.big-img {
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-position: center;
	background-size: cover;


}
.head-midasi{
	
	font-size: 30px;
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-position: bottom;
	background-size: cover;


}
.head-kodasi {
	padding-left: 20px;
	padding-top: 20px;
}
main {
	width: 840px;
	margin: 50px auto;

}
.room1 {
	height: 150px;
	border-bottom: 1px solid #d1d1d1;
}
.img1 {
	height: 30px;
}
.room2 {
	height: 150px;
	border-bottom: 1px solid #d1d1d1;
}
.img2 {
	height: 30px;
	margin-top: 30px;
}
.room3 {
	height: 150px;
	border-bottom: 1px solid #d1d1d1;
}
.img3 {
	height: 10px;
	margin-top: 30px;
}
.room4 {
	height: 150px;
	border-bottom: 1px solid #d1d1d1;
}
.img4 {
	height: 10px;
	margin-top: 30px;
}
a {
	margin-bottom: 10px;

}